<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
    <img
        class="rounded-full size-12"
        src="https://lh3.googleusercontent.com/a/ACg8ocLrUar5cys7VroFMAD0meD7PwKYfnyDbehW9XdsRaKutg=s317-c-no"
        alt="Frank photo"
    />

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/">About</a>
        <a href="/">Projects</a>
        <a href="/">Contact</a>
    </nav>
</header>